<div class="menu">
    <ul>
      <li><a routerLink="/Home">Home</a></li>
      <li><a routerLink="/Computers">Computers</a></li> 
      <li><a routerLink="/Groups">Groups</a></li>
      <li><a routerLink="/Configs">Configs</a></li>
      <li><a routerLink="/Reports">Reports</a></li>
      <li class="selected"><a routerLink="/Admins">Admins</a></li>

    </ul>
</div>

<div class="content">
  
  <div class="table-responsive">
    <div class="Table">
    <table class="table-rounded table" bgColor="black">
        <thead>
            <tr>
              <th>Remove</th>
                <th>Name</th>
                <th>Active</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of admin;">
            <td>
                <button type="button" class="btn btn-link" (click)="delete(item)">
                    <i class="bi bi-trash3"></i>
                </button>
            </td>
            <td><a [routerLink]="['/Admins', item.id]">{{item.username}}</a></td>
            <td>{{item.active}}</td>
            <td>{{item.email}}</td>
        </tr>
                                                               
        </tbody>                  
      </table>
  </div>
  </div>

  <div class="AddAdmin">
    <input type="text" name="AdminName" placeholder="Admin Name" [(ngModel)]="adminName">
    <input type="text" name="AdminEmail" placeholder="Admin Email" [(ngModel)]="adminEmail">
    <input type="password" name="AdminPassword" placeholder="Admin Password" [(ngModel)]="adminPassword">
    <button type="button" class="btn btn-success" (click)="addAdmin()">Add Admin</button>    
  </div>

</div>