  <div class="menu">
      <ul>
        <li><a routerLink="/Home">Home</a></li>
        <li><a routerLink="/Computers">Computers</a></li> 
        <li class="selected"><a routerLink="/Groups">Groups</a></li>
        <li><a routerLink="/Configs">Configs</a></li>
        <li><a routerLink="/Reports">Reports</a></li>
        <li><a routerLink="/Admins">Admins</a></li>
  
      </ul>
    </div>
    <div class="content">
      <div class="table-responsive">
        <div class="Table">
          <table class="table-rounded table" bgColor="black">
              <thead>
                  <tr>
                    <th>Remove</th>
                      <th>Name</th>
                      <th>Last Backup</th>
                      <th>Backup Status</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of group">                      
                      <td>
                        <button type="button" class="btn btn-link" (click)="delete(item)">
                            <i class="bi bi-trash3"></i>
                        </button>
                      </td>
                      <td><a routerLink="/Groups/{{item.id}}">{{item.groupName}}</a></td>
                      <td>{{item.lastBackup}}</td>
                      <td>{{item.backupStatus}}</td>
                    </tr>
              </tbody>                  
            </table>
      </div>
      </div>
      
      <div class="navigation">
        <ul>
          <li class="selected"><a routerLink="/Groups">Groups</a></li>
          <li><a routerLink="/NewGroup">New Group</a></li>
        </ul>
      </div>
    </div>