.selected{
    background-color: #AAAAAA;
}

.content{
    display: flex;
    position: absolute;
    bottom: 0;
    height: 89%;
    width: 100%;
    gap: 15px;
}

.content p{
    text-align: left;
}


app-table1{
    margin-left: 20px;
}

app-table2{
    margin-left: 80px;
}

app-table3{
    padding-left: 0px;
    margin: 0;
    padding-right: 0;
}

app-summary{
    margin-left: -1910px;
}
