.topBar{
    width: 100%;
    height: 3%;
    background-color: #A59696;
    display: flex;
    font-weight: 600;
    text-align: justify;
    border: 2px solid black;
    border-bottom: 0;
}

.LoggedInAs p{
    margin: 0;
    display: inline-block;
    text-align: left;
    padding-top: 5%;
}

.Logout p{
    margin: 0;
    display: inline-block;
    text-align: left;
    padding-top: 12%;
    padding-left: 3100%;
    cursor: pointer;
}


.menu{
    background-color: #D9D9D9;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%;
    margin-top: 0%;
    padding: 0;
    
}

.menu ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.menu li{
    display: inline-block;
    height: 100%;
    width: 16.666%;
    text-align: center;
    border: 2px solid black;
} 

.menu li:hover{
    background-color: #AAAAAA;
    text-decoration: none;
}


.menu li a{
    display: inline-block;
    color: #333;
    text-decoration: none;
    padding-top: 8%;
    font-size:x-large;
    font-weight: 600;
}

.selected{
    background-color: #AAAAAA;
}

/*
.content{
    display: block;
    position: absolute;
    bottom: 0;
    height: 89%;
    width: 100%;
}
*/
.table{
    width: 30%;
    margin-top: 1%;
    margin-right: 10%;
    border-collapse: collapse; 
    border-radius: 15px;
    overflow: hidden;
    height: 500px;
}

.table-addComputer
{
    width: 30%;
    max-height: 300px;
    border-collapse: collapse;
    overflow-y: auto;
    margin-left: -100px;
    tr
    {
        background-color: #4B93FF;
        padding: 15px;
    }
    td
    {
        text-align: left;        
    }
}

.table-addConfig
{
    width: 30%;
    max-height: 300px;
    margin-left: 300px;
    border-collapse: collapse;
    overflow-y: auto;
    margin-left: -100px;
    tr
    {
        background-color: #4B93FF;
        padding: 15px;
    }
    td
    {
        text-align: left;        
    }
}

caption{
    caption-side: top;
    text-align: middle;
    padding-left: 10px;
    background-color: #4B93FF;
    color: black;
    font-size: larger;
}


.GroupName{
    width: fit-content;
    font-weight: 600;
    margin-top: 22px;
}

.EditLabel{
    text-align: center;
    font-weight: 600;
    background-color: #AAAAAA;
    font-size: x-large;
    border: 2px solid black;
    border-top: 0;
}

.table{
    width: 30%;
    margin-top: 1%;
    margin-right: 10%;
    border-collapse: collapse; 
    border-radius: 15px;
    overflow: hidden;
}

caption{
    caption-side: top;
    text-align: left;
    padding-left: 10px;
    background-color: #4B93FF;
    color: black;
    font-size: larger;
}

.table-container {
  height: 600px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  float: right;
}

td {
  padding-left: 32px;
  text-align: center;
  width: 600px;
}

tr{
    background-color: lightgrey;
    width: 100%;
}

table i{
    font-size: xx-large;
}

.AddComputerBlock select{
    margin-top: 559px;
    margin-left: 250px;
    width: 125px;
}

.AddComputerBlock button{

    margin-left: 250px;
}

.AddConfigBlock select{
    margin-top: -122px;
    margin-left: 325px;
    float: right;
    margin-right: 110px;
}

.firstButton button{
    margin-top: -97px;
    margin-left: 325px;
    float: right;
    margin-right: 85px;
    width: 105px;
}

.secondButton button{
    margin-top: -55px;
    margin-left: 325px;
    float: right;
    margin-right: 85px;
}

.AlgorithmBlock{
    margin-top: 50px;
    margin-right: 875px;
    height: 300px;
    display: inline-block;
}

.AlgorithmBlock h3:nth-of-type(1){
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.Full{
    margin-left: 25px;
    width: 300px;
    color: black;
    font-weight: 600;
    border: 2px solid black;
}

.Differential{
    margin-left: 25px;
    width: 300px;
    background-color: #D9D9D9;
    color: black;
    font-weight: 600;
    border: 2px solid black;
}

.Incremental{
    margin-left: 25px;
    width: 300px;
    background-color: #D9D9D9;
    color: black;
    font-weight: 600;
    border: 2px solid black;
}

.HH h3:nth-of-type(1){
    text-align: left;
    margin-left: 80px;
    margin-top: 40px;
    width: 100%;
    width: fit-content;
    font-weight: 600;
}

.AlgorithmBlock p{
    text-align: left;
    margin-left: 50px;
    width: fit-content;
    font-weight: 600;
}

.AlgorithmBlock input{
    text-align: center;
    width: 40px;
    font-weight: 600;
}

.HH h3{
    display: inline-block;
}

.HH h3:nth-of-type(2){
    margin-left: 230px;
    font-weight: 600;
}

.Amnt button{
    margin-left: 260px;
}

.Amnt p{
    display: inline-block;
}

.Amnt button:nth-of-type(2){
    margin-left: 298px;
}

.Plain{
    margin-left: 25px;
    width: 300px;
    background-color: #D9D9D9;
    color: black;
    font-weight: 600;
    border: 2px solid black;
}

.Zip{
    margin-left: 25px;
    width: 300px;
    color: black;
    font-weight: 600;
    border: 2px solid black;
}

.Schedule{
    margin-left: 1028px;
    margin-top: -300px;
    height: 300px;
}

.Schedule h3:nth-of-type(1){
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.Simple{
    margin-left: 125px;
    width: 300px;
    color: black;
    font-weight: 600;
    border: 2px solid black;
}

.Advanced{
    margin-left: 25px;
    width: 300px;
    background-color: #D9D9D9;
    color: black;
    font-weight: 600;
    border: 2px solid black;
}

.HHH h3:nth-of-type(1){
    font-weight: 600;
    width: fit-content;
    margin-left: 125px;
    display: inline-block;
    margin-top: 20px;
}

.buttons{
    float: right;
    margin-top: -40px;
    width: 650px;
}


.buttons button:nth-of-type(1){
    margin-left: 40px;
    width: 100px;
    color: black;
    font-weight: 600;
    margin-bottom: 40px;
    border: 2px solid black;
    background-color: #AAAAAA;
}

.buttons button{
    margin-left: 40px;
    width: 100px;
    color: black;
    font-weight: 600;
    margin-bottom: 40px;
    border: 2px solid black;
    background-color: #D9D9D9;
}