<form>
  <div class="menu">
    <ul>
      <li><a routerLink="/Home">Home</a></li>
      <li><a routerLink="/Computers">Computers</a></li> 
      <li class="selected"><a routerLink="/Groups">Groups</a></li>
      <li><a routerLink="/Configs">Configs</a></li>
      <li><a routerLink="/Reports">Reports</a></li>
      <li><a routerLink="/Admins">Admins</a></li>
    </ul>
  </div>

  <div class="content">

      <div class="EditLabel">
          {{group.groupName}}
      </div>

      <div class="GroupName">
        Group Name:
        <input type="text" name="Group_Name" value="{{group.groupName}}">
      </div>

      <table class="table table-borderless">
          <caption>Configs</caption>
          <div class="table-container" *ngFor="let item of configs">
            <tr>
              <td>{{item.configName}}</td>
            </tr>
        </div>
      </table>

        <table class="table table-borderless">
          <caption>Computers in group</caption>
          <div *ngFor="let item of computers">
          <tr>
            <td>{{item.computerName}}</td>
          </tr>
        </div>
        </table>

        <table class="table-addComputer table-borderless" >
            <thead class="caption">
              <tr>
                <th>Add</th>
                <th>Computer Name</th>
              </tr>
            </thead>
            <tbody  *ngFor="let item of unassignedComputers">
                <td>
                  <button type="button" class="btn btn-link button" >
                      <i class="bi bi-plus-circle" (click)="addComputer(item.id)"></i>
                  </button>
                </td>
                <td>{{item.computerName}}</td>
            </tbody>
        </table>

        <table class="table-addConfig table-borderless" >
          <thead class="caption">
            <tr>
              <th>Add</th>
              <th>Config Name</th>
            </tr>
          </thead>
          <tbody  *ngFor="let item of unassignedConfigs">
              <td>
                <button type="button" class="btn btn-link button" >
                    <i class="bi bi-plus-circle" (click)="addConfig(item.id)"></i>
                </button>
              </td>
              <td>{{item.configName}}</td>
          </tbody>
      </table>
        

