<div class="menu">
    <ul>
      <li routerLinkActive="selected"><a routerLink="/Home">Home</a></li>
      <li routerLinkActive="selected"><a routerLink="/Computers">Computers</a></li> 
      <li routerLinkActive="selected"><a routerLink="/Groups">Groups</a></li>
      <li routerLinkActive="selected"><a routerLink="/Configs">Configs</a></li>
      <li routerLinkActive="selected"><a routerLink="/Reports">Reports</a></li>
      <li routerLinkActive="selected"><a routerLink="/Admins">Admins</a></li>
    </ul>
  </div>